* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --linear-BG: linear-gradient(200deg, #201e1c, #f7931a);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* Section Description */
.section-description__title {
  margin-bottom: 2rem;

  font-size: 24px;
  text-align: center;
}
.section-description__paragraph {
  margin-bottom: 3rem;

  font-size: 14px;
  text-align: center;
}
.title--white {
  color: var(--just-white);
}
.paragraph--white {
  color: var(--soft-orange);
}
.title--black {
  color: var(--warm-black);
}
.paragraph--black {
  color: var(--grey);
}


/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;

  height: 50vh;

  background: var(--linear-BG);
}

/* Company Info */
.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 6%;
}

/* Logotype */
.logotype {
  margin: 40px auto;
}
.logotype picture img {
  width: 200px;
}

/* Company Info - Our Plans */
.company-info__our-plans {
  position: absolute;
  bottom: -20px;
}

/* Company Info - Button */
.company-info__button {
  display: inline-block;

  padding: 12px 16px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px #59491e29;

  color: var(--warm-black);
  font-size: 14px;
  text-decoration: none;

  background: var(--off-white);
}
.company-info__button img {
  margin-left: 4px;
}

/* Exchange Rates */
.exchange-rates {
  padding: 0 6%;

  text-align: center;

  background: var(--off-white)
}
.exchange-rates picture img {
  padding: 8rem 0;
}


/* Slideshow */
.slideshow {
  position: relative;

  /* width: 100%; */
  /* height: 80vh; */
  padding-bottom: 6rem;

  /* background-color: #000; */
  user-select: none;
}

/* Controls */
.controls {
  position: absolute;
  z-index: 1000;

  display: flex;
  justify-content: end;
  
  
  width: 100%;
  height: 100%;
}
.controls span {
  margin: auto 20px;
  
  color: #fff;
  font-size: 3.5em;
}

/* Slider */
.slider {
  /* position: absolute; */
}
.slider .slides {
  display: none;

  /* width: 100%; */
  /* height: 80vh; */

  /* filter: brightness(0.5); */
}
.slider .slides.active {
  display: block;

  transition: .5s;
}


/* Cryptocurrency Table */
.cryptocurrency-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cryptocurrency-table table {
  border-radius: 5px;

  font-size: 18px;
  
  background-color: var(--just-white);
}
.cryptocurrency-table table .table-title {
  margin : 1rem;

  text-align: start;
  font-weight: bold;
}
.table-title--color-orange {
  color: var(--bitcoin-orange);
}
.table-title--color-blue {
  color: var(--secondary-blue);
}
.cryptocurrency-table table th, .cryptocurrency-table table td {
  padding: 1rem 2rem;
  border-bottom : 1px solid var(--grey);

  text-align: start;
}
.cryptocurrency-table > p {
  display: inline-block;

  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;

  font-size: 18px;
  
  background: var(--soft-orange);
}

/* Advisory */
.advisory {
  padding: 4rem 6%;

  background: var(--black);
}
.benefit-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: 1rem;
}
.benefit-card {
  padding: 1rem;
  border-radius: 5px;

  background: var(--warm-black);
}
.benefit-card picture img {
  margin-bottom: .5rem;
}
.benefit-card h4 {
  margin-bottom: .5rem;

  color: var(--just-white);
  font-size: 18px;
}
.benefit-card p {
  color: #808080;
  font-size: 14px;
}

/* Meet Him Today */
.meet-him-today {
  height: 60vh;
  padding: 6rem 6%;

  background: url(../assets/img/bitcoinbaby.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* Plans */
.plans {
  padding: 6rem 6%;
}

/* Plans Cards */
.plans-cards {
  display: flex;
  justify-content: center;
}
/* Plan Card */
.plan-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 220px;
  padding: 3rem 2rem;
  /* border: 1px solid var(--grey); */
  box-shadow: 0px 4px 8px 0px #59491e29;

  text-align: center;
}
.plan-card h4 {
  margin-bottom: 1rem;

  font-size: 14px;
  font-weight: bold;
}
.plan-card > p {
  margin-bottom: 1.4rem;

  font-size: 12px;
}
.plan-card p span {
  font-size: 52px;
  font-weight: bold;
}
.plan-card a {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1rem;
  border: 1px solid #f7931a;
  border-radius: 5px;

  color: var(--black);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;

  background: var(--off-white);
} 
.plan-card a img {
  width: 25px;
}
.plan-card .plan-card__suggestion {
  position: absolute;
  top: -20px;

  padding: 1rem;
  border-radius: 5px;

  color: var(--just-white);
  font-size: 12px;
  font-weight: bold;

  background: var(--bitcoin-orange);
}


.accordion {
  width: 300px;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 1px;
}

.accordion-header {
  padding: 10px;
  background-color: #eee;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #fff;
}


/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  background: var(--bitcoin-orange);
}
footer ul {
  padding: 2rem 0;

  list-style: none;
}
footer ul li {
  padding: 1rem 0 0;

  color: var(--off-white);
  font-size: 14px;
}
footer picture img {
  width: 70px;
}


/* Media Queries */
@media screen and (min-width: 481px) {
  .benefit-cards {
    grid-template-columns: repeat(2, 1fr);
  
    gap: 1rem;
  }
}