/* Tables Mobile */
.tables-mobile {
  display: none;
}
/* Tables Desktop */
.tables-desktop {
  display: flex;

  width: 930px;
  margin: 0 auto;
}

/* Product Cards - Container */
.product-cards__container {
  display: flex;
  flex-wrap: wrap;

  width: 930px;
  margin: 0 auto;
}

/* Plans Container - Slider */
.plans-container__slider {
  justify-content: center;

  height: 320px;

  overflow-x: auto;
}